<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row post, border border-2, rounded">
        <div class="col-md-2">
          <app-vote-button [post]="post"></app-vote-button>
        </div>
        <div class="col-md-10">
          <div class="view-post">
            <a class="postname" href="{{post.url}}">{{post.postName}}</a>
          </div>
          <span class="tag-info">
              <span>@<a class="username" routerLink="/user/{{post.userName}}">{{post.userName}} </a></span>
              <span class="tag-text"> <a class="posturl" routerLink="">{{post.tagName}}</a></span>
            </span>
          <div>
            <p class="post-text"  [innerHTML]="post.description"></p>
          </div>
          <span>
              <a class="btnCommments">
                Komentarze({{post.commentCount}}) :
              </a>
            </span>
        </div>
      </div>
        <div class="row post, border border-2, rounded" *ngFor="let comment of comments">
          <div class="comment">
              <a class="username-comment">{{comment.userName}}</a>
              <span class="duration">  {{comment.createdDate}}</span>
              <hr/>
            <span class="comment-text">{{comment.text}}</span>
          </div>
        </div>
      <div class="post-comment" *ngIf="isLoggedIn">
        <form [formGroup]="commentForm" (ngSubmit)="postComment()">
          <div class="form-group">
            <textarea class="form-control" [formControlName]="'text'" placeholder="Dodaj komentarz"></textarea>
          </div>
          <button type="submit" class="add btn btn-primary btn-sm">Wyślij</button>
        </form>
      </div>
    </div>
      <div class="col-md-3">
        <app-post-side-bar [sides]="side"></app-post-side-bar>
      </div>
  </div>

