<div class="container">
  <div>
    Witaj <b>{{name}}</b>.<br /> Dodałeś <b>{{postLength}}</b> postów oraz
    <b>{{commentLength}}</b> komentarze(y).
    <br>
    Aktywność użytkownika:
  </div>
  <hr />
  <div>
    Twoje posty:
  </div>
  <app-post-tile [posts]="posts"></app-post-tile>
  <hr />
  <div>
    Twoje komentarze:
  </div>
  <div class="row post, border border-2, rounded" *ngFor="let comment of comments">
    <div class="comment">
      <a class="username-comment">{{comment.userName}}</a>
      <span class="duration">  {{comment.createdDate}}</span>
      <hr/>
      <span class="comment-text">{{comment.text}}</span>
    </div>
  </div>
</div>
